.container {
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    margin: 0;
    height: 60px;
    width: 120px;
}






header {
    position: fixed;
    top: 0;
    width: 1200px;
    background-color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.header__nav-link a {
    width: 80px;
    font-size: 18px;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.header__nav-link a:hover {
    background-color: rgb(231, 231, 231);
}

.header__nav-link a.active {
    background-color: rgb(231, 231, 231);
}



.heading {
    display: flex;
    margin-top: 100px;
}

.heading__image {
    margin-left: 50px;
    margin-right: 120px;
}

.heading p {
    width: 400px;
}





.may-like-items {
    margin-top: 100px;
    margin-bottom: 80px;
}

.may-like-items h1 {
    margin-left: 50px;
}

.may-like-items ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

.may-like-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.may-like-item h2 {
    margin: 0;
}

.may-like-item img {
    width: 250px;
    height: 263.55px;
}

.may-like-item p {
    text-align: center;
    color: rgb(87, 87, 87);
    width: 250px;
}

.view-more {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.may-like-items__view-more-button {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(175, 175, 175);
    border-style: none;
    cursor: pointer;
}





footer {
    background-color: rgb(247, 247, 247);
}

.footer__upper-part {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__short-info {
    margin-left: 20px;
}

footer h4, p{
    margin: 0;
    padding: 0;
}

footer h4 {
    font-size: 18px;
}

footer p {
    font-size: 13px;
    width: 300px;
}

footer .logo {
    margin-right: 115px;
}

footer .line {
    margin: 0 auto;
    border: rgb(109, 109, 109) 0.5px solid;
    width: 1000px;
    margin-top: 15px;
}

footer .socials {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.socials img {
    margin-left: 15px;
}

.footer__rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__rights p {
    margin-left: 130px;
}